html,
body,
#root {
  height: 100%;
  width:100% ;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f0f4f8;
  overflow: hidden;
}
#root{
  display:flex;
  justify-content:center;
  align-items:center;
}